a {
	margin-top: 2px;
	color: var(--color-text);
	text-decoration: none;
	border-width: 0 0 2px 0;
	border-style: solid;
	border-image: var(--gradient-1);
	border-image-slice: 1;
	transition: var(--transition-fs);

	&:hover {
		margin-top: 0;
		border-width: 2px 0 2px 0;
	}
}

body {
	font-family: "Noto Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	background: var(--color-background);
	color: var(--color-text);
}

.section {
	padding: 0 var(--spacing-gutters);
}
