/* variables.css */
:root {
	/* Colors */
	--color-primary: hsl(324, 84%, 65%);
	--color-secondary: hsl(172, 100%, 48%);
	--color-secondary-text: var(--color-text-light);
	--color-accent-1: hsl(52, 99%, 62%);
	--color-accent-1-text: var(--color-text-light);
	--color-accent-2: hsl(195, 100%, 49%);
	--color-accent-2-text: var(--color-text-light);
	--color-accent-3: hsl(267, 72%, 63%);
	--color-accent-3-text: var(--color-text-dark);
	--color-background: var(--color-background-dark);
	--color-background-mid: var(--color-background-dark-mid);
	--color-background-contrast: var(--color-background-contrast-dark);
	--color-text: var(--color-text-dark);
	--color-text-mid: var(--color-text-mid-dark);
	--color-text-contrast: var(--color-text-contrast-dark);

	/* Light mode colors */
	--color-background-light: hsl(0, 0%, 100%);
	--color-background-light-mid: hsl(0, 0%, 95%);
	--color-background-contrast-light: var(--color-background-dark);
	--color-text-light: hsl(0, 0%, 0%);
	--color-text-mid-light: hsl(0, 0%, 20%);
	--color-text-contrast-light: var(--color-text-dark);

	/* Dark mode colors */
	--color-background-dark: hsl(0, 0%, 7%);
	--color-background-dark-mid: hsl(0, 0%, 30%);
	--color-background-contrast-dark: var(--color-background-light);
	--color-text-dark: hsl(0, 0%, 100%);
	--color-text-mid-dark: hsl(0, 0%, 80%);
	--color-text-contrast-dark: var(--color-text-light);

	/* Gradients */
	--gradient-1: linear-gradient(90deg, var(--color-accent-3), var(--color-accent-1));
	--gradient-2: linear-gradient(90deg, var(--color-accent-1), var(--color-accent-2));
	--gradient-3: linear-gradient(90deg, var(--color-accent-2), var(--color-accent-3));

	/* Shadows */
	--shadow-md: var(--dark-shadow-md);
	--shadow-lg: var(--dark-shadow-lg);

	--dark-shadow-md: 0 4px 6px hsla(0, 100%, 100%, 0.3);
	--dark-shadow-lg: 0 12px 24px hsla(0, 100%, 100%, 0.5);

	--light-shadow-md: 0 4px 6px hsla(0, 0%, 0%, 0.1);
	--light-shadow-lg: 0 12px 24px hsla(0, 0%, 0%, 0.15);

	/* Spacing */
	--spacing-xs: 0.25rem; /* 4px */
	--spacing-sm: 0.5rem; /* 8px */
	--spacing-md: 1rem; /* 16px */
	--spacing-lg: 2rem; /* 32px */
	--spacing-xl: 4rem; /* 64px */

	--spacing-gutters: 2rem;
	--spacing-vertical-section: 2rem;

	--spacing-block: var(--spacing-md); /* Typography */

	--font-size-xs: 0.75rem; /* 12px */
	--font-size-sm: 1rem; /* 16px */
	--font-size-md: 1.125rem; /* 18px */
	--font-size-lg: 1.5rem; /* 24px */
	--font-size-xl: 2rem; /* 32px */
	--line-height: 1.5;

	/* Heading Font Sizes */
	--font-size-h1: 4.5rem; /* 56px */
	--font-size-h2: 3em; /* 40px */
	--font-size-h3: 2rem; /* 28px */
	--font-size-h4: 1.5rem; /* 24px */
	--font-size-h5: 1.25rem; /* 20px */
	--font-size-h6: 1rem; /* 16px */

	/* Breakpoints */
	--breakpoint-xxs: 24rem; /* 384px */
	--breakpoint-xs: 30rem; /* 480px */
	--breakpoint-sm: 48rem; /* 768px */
	--breakpoint-md: 62rem; /* 992px */
	--breakpoint-lg: 75rem; /* 1200px */

	/* Transitions */
	--transition-instant: 0s;
	--transition-fs: 0.15s ease-in-out;
	--transition-md: 0.3s ease-in-out;

	/* Borders */
	--border-md: 2px solid var(--color-text);

	[data-theme='light'] {
		--border-md: 2px solid var(--color-text-light);
	}

	/* Border */
	--border-md: 2px solid var(--color-background-contrast);

	/* Border radius */
	--border-radius-sm: 2px;
	--border-radius-md: 4px;
	--border-radius-lg: 12px;
	--border-radius-xl: 40px;

	/* Limit site max width */
	--site-max-width: 1920px;
}

@media (max-width: 62rem) {
	:root {
		--spacing-gutters: 1rem;
		--spacing-vertical-section: 1.5rem;
		--spacing-block: var(--spacing-sm);
	}

	html {
		font-size: 15px;
	}
}
